.main-section-carreira {
    padding: 40px 24px;
}

.main-section-carreira h3 {
    font-size: 24px;
    font-weight: 400;
    color: #4d4d4d;
    margin-bottom: 40px;
    font-family: "Avenir Next Cyr";
}

.main-section-carreira p {
    font-size: 18px;
    font-weight: 400;
    color: #4d4d4d;
    font-family: "Avenir Next Cyr";
    margin-bottom: 40px;
}

.btn-conferir-vagas {
    background-color: #8cc540;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Avenir Next Cyr";
    cursor: pointer;
    transition: opacity 0.3s;
    margin-bottom: 40px;
}

.btn-conferir-vagas:hover {
    opacity: 0.9;
}

.foto-carreira {
    width: 100%;
    height: auto;
}

@media screen and (min-width:768px) {
    .main-section-carreira {
        padding: 100px 120px;
        display: flex;
        flex-direction: row;
    }

    .foto-carreira {
        width: 50%;
        max-width: 580px;
    }

    .main-section-carreira-container {
        margin-left: 64px;
    }

    .main-section-carreira h3 {
    font-size: 32px;
}
}