.contato-main {
    padding: 40px 24px;
}

.contato-main-first {
    display: flex;
    flex-direction: column;
}

.contato-main-container .hero-expertise-title h3{
    font-size: 24px;
}

.contato-main-container .hero-expertise-title {
    margin-bottom: 40px;
}

.contato-main-first p{
    font-size: 18px;
    font-weight: 400;
    color: #4d4d4d;
    margin-bottom: 40px;
}

.contato-main-second-location {
    padding: 24px;
    font-family: "Avenir Next Cyr";
}


.contato-main-second-location p {
    font-size: 16px;
    color: #4d4d4d;
    font-weight: 400;
}

.contato-main-second-location:first-child p {
    font-size: 20px;
    font-weight: 400;
    color: #4d4d4d;
}

.contato-main-second-location span {
    display: block;
    width: 100%;
    height: 1px;
    background: #8cc540;
    margin-top: 24px;
    margin-bottom: 24px;
    opacity: 0.3;
}