.hero-expertise {
    padding: 64px 24px 40px;
    align-items: center;
    background: linear-gradient(270deg, #CCC 0%, #FFF 100%)
}

/*Título do card com barra verde*/
.hero-expertise-title {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    gap: 10px;
    
}

.hero-expertise-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #8cc540;
}

.hero-expertise-title h3 {
    font-family: "Avenir Next Cyr";
    font-size: 24px;
    line-height: normal;
    color: #4d4d4d;
    margin: -5px;
    font-weight: 275;
}

.hero-expertise-title .bold {
    font-size: 40px;
    font-weight: 900;
}

.hero-expertise-second {
    padding: 64px 24px 40px 24px;
}

.hero-expertise-second-image {
    display: flex;
    justify-content: center;
}

.hero-expertise-second-container img {
    width: 100%;
    margin-bottom: 40px;
}

.hero-expertise-second-title {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    gap: 10px;
    font-size: 24px;
    font-weight: 400;
    color: #4d4d4d;
    margin-bottom: 40px;
}

.hero-expertise-second-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #8cc540;
}

.hero-expertise-second-content {
    font-family: "Avenir Next Cyr";
    font-size: 18px;
    font-weight: 400;
    color: #4d4d4d;
    margin-bottom: 32px;
}

.hero-expertise-second span {
    display: block;
    width: 100%;
    height: 1px;
    background: #ededed;
    margin-top: 24px;
    margin-bottom: 24px;
    opacity: 1;
}

.expertise-third-section {
    padding: 64px 24px;
    color: #f4f4f4;
}

.expertise-third-container {
    font-size: 18px;
    font-weight: 400;
    font-family: "Avenir Next Cyr";
    color: #4d4d4d;
}

.tab-content {
    display: none;  /* oculta por padrão */
}

.tab-content.active {
    display: block;  /* mostra quando tem classe 'active' */
}

.tab {
    cursor: pointer;  /* mostra que é clicável */
}

@media screen and (min-width:768px) {
    .hero-expertise {
        padding: 100px 120px;
    }

    .bold{
        font-size: 56px;
        font-weight: 900;
    }

    .hero-expertise-second {
        display: inline-flex;
        flex-direction: row;
        padding: 100px 120px 50px 120px;
        align-items: center;
    }

    .hero-expertise-second-container {
        flex: 1;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        flex-direction: row;
    }

    .hero-expertise-second-content {
        height: 450px;
        width: 50%;
        margin-left: 64px;
        margin-top: -70px;
    }

    .hero-expertise-second-container img {
        width: 100%;
        max-width: 413px;
    }

    .hero-expertise-second-container span {
        display: none;
    }

    .hero-expertise-second:nth-child(3) .hero-expertise-second-container {
        flex-direction: row-reverse;
    }

    .hero-expertise-second:nth-child(3) .hero-expertise-second-content {
        margin-left: 0;
        margin-right: 64px;
    }

    .hero-expertise-title h3 {
        font-size: 40px;
    }

    .hero-expertise-title .bold {
        font-size: 56px;
    }

    .expertise-third-section {
    padding: 100px 120px;
}
}