.hero-section-sphera {
    display: flex;
    flex-direction: column;
    padding: 100px 24px 40px 24px;
    background: linear-gradient(270deg, #CCC 0%, #FFF 100%);
}

.hero-content-title {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 146px;
    font-family: "Avenir Next";
    padding-left: 30px;
    margin-bottom: 8px;
    color: #4d4d4d;
}

.hero-content-title h3 {
    margin: -8px;
    font-size: 32px;
}

/*linha verde atrás do Shepra Pro*/
.hero-content-title::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #8cc540;
}

.card-subtitle {
    margin-bottom: 16px;
}

.section-spherapro-text {
    display: flex;
    padding: 40px 24px 0px 24px;
    font-family: "Avenir Next";
    color: #4d4d4d;
}

.btn-check {
    background: linear-gradient(270deg, #74A335 0%, #8CC540 100%);
    color: #fcfcfc;
    border: none;
    line-height: normal;
    border-radius: 100%;
    display: flex;
    align-items: center;
    padding: 8px 8px;
}

.card-check {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.card-check:first-child {
    margin-top: 0;
}

.card-check:last-child {
    margin-bottom: 0;
}

.sheprapro-content-text {
    font-family: "Avenir Next";
    font-weight: 400;
}

.conteudo-section {
    padding: 40px 24px;
    font-family: "Avenir Next";
    color: #4d4d4d;
}

.card-sphera {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 50%;
    aspect-ratio: 1;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

/* Remove borda direita dos cards da última coluna */
.card-sphera:nth-child(2n) {
    border-right: none;
}

/* Remove borda inferior dos cards da última linha */
.card-sphera:nth-child(3),
.card-sphera:nth-child(4) {
    border-bottom: none;
}

.card-list-sphera {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 24px;
    font-family: "Avenir Next";
    color: #4d4d4d;
    font-size: 14px;
}
.card-list-sphera h3 {
    margin-top: 16px;
    align-items: center;
}